<div class="container-fluid my-2">
    <div class="row">
      <div class="col-12">
        <div class="card custom-body">
            <div class="card-body">
                <h3 class="card-title text-center">Nuevo contacto</h3>
                <form (ngSubmit)="onSubmit()" [formGroup]="modelForm" >
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                          <label for="name">Nombres</label>
                          <input type="text" class="form-control" id="name" formControlName="firstName">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                          <label for="lastname">Apellidos</label>
                          <input type="text" class="form-control" id="lastname" formControlName="lastName">
                        </div>
                      </div>
          
                      <div class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-lg-2 col-sm-4 pt-0">Genero</legend>
                          <div class="col-lg-10 col-sm-8">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Masculino" formControlName="gender">
                              <label class="form-check-label" for="gridRadios1">
                                Masculino
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Femenino" formControlName="gender">
                              <label class="form-check-label" for="gridRadios2">
                                Femenino
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                      </div>
          
                      <div class="form-group">
                        <label for="exampleInputUbicacion4">Libreta de télefonos</label>
                        <div formArrayName="diary" *ngFor="let direccion of ControlTelefonos.controls;let i = index">
                            <div [formGroupName]="i" class="form-group">
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>Telfono {{i +1}} </h5>
                                        </div>
                                        <div class="col-4 py-2">
                                            <button type="button" class="btn btn-danger float-right " (click)="EliminarDir(i)" *ngIf="ControlTelefonos.controls.length > 1">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        <select class="form-control" formControlName="type">
                                            <option value="" disabled selected>Seleccione un tipo</option>
                                            <option value="cel">Celular</option>
                                            <option value="home">Hogar</option>
                                            <option value="work">Trabajo</option>
                                            <option value="others">Otro</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Número de telefono" formControlName="phone">
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                        </div>
                        <button type="button" class="btn btn-outline-primary" (click)="AgregarDir()">Añadir Télefono</button>
                        <button type="button" *ngIf="modelForm.get('diary').value?.length > 1" class="btn btn-outline-danger" (click)="EliminarUltimo()">Eliminar ultimo</button>
                      </div>
            
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Crear contacto</button>
                </form>
            </div>
          </div>
      </div>
    </div>
  </div>

<a routerLink="/Home/Contactos" class="float">
    <i class="far fa-list-alt my-float"></i>
</a>
