<ng-container *ngIf="loadingContact$ | async; else vista">
  <app-loading-contact></app-loading-contact>
</ng-container>
<ng-template #vista>
    <ng-container *ngIf="(contactDetail$ | async) !== null; else noSeleccionado">

      <div class="card card-custom bg-white border-white border-0">
        <div class="card-custom-img" style="background-image: url(https://i.blogs.es/f2ba32/wallpapers-abduzeedo/1366_521.jpg);"></div>
        <div class="card-custom-avatar">
          <img class="img-fluid" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="Avatar" />
        </div>
        <div class="card-body" style="overflow-y: auto">
          <perfect-scrollbar class="px-2" style="max-width: 100%; max-height: 60vh; height: 60vh !important;">
            <h4 class="card-title">{{ (contactDetail$ | async).firstName }}</h4>
          
            <ng-container *ngIf="!updateActivate">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="font-weight-bold"><i class="fas fa-at"></i> Email:</span> {{(contactDetail$ | async).email}}</li>
                <li class="list-group-item"><span class="font-weight-bold"><i class="fas fa-venus-mars"></i> Género:</span> {{(contactDetail$ | async).gender}}</li>
              </ul>
  
              <ul class="list-group list-group-flush"  *ngFor="let item of (contactDetail$ | async).diary">
                <li class="list-group-item"><span class="font-weight-bold"><i class="far fa-comment-alt"></i> Tipo:</span> {{item.type}}  <span class="font-weight-bold"><i class="fas fa-phone-square-alt"></i> Télefono:</span> {{item.phone}}</li>
              </ul>
            </ng-container>
            
            
  
            <form (ngSubmit)="onUpdate()" [formGroup]="updateForm" *ngIf="updateActivate">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                  <label for="name">Nombres</label>
                  <input type="text" class="form-control" id="name" formControlName="firstName">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="lastname">Apellidos</label>
                  <input type="text" class="form-control" id="lastname" formControlName="lastName">
                </div>
              </div>
  
              <div class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Genero</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Masculino" formControlName="gender">
                      <label class="form-check-label" for="gridRadios1">
                        Masculino
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Femenino" formControlName="gender">
                      <label class="form-check-label" for="gridRadios2">
                        Femenino
                      </label>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
  
              <div class="form-group">
                <label for="exampleInputUbicacion4">Libreta de télefonos</label>
                <div formArrayName="diary" *ngFor="let direccion of ControlTelefonos.controls;let i = index">
                    <div [formGroupName]="i" class="form-group">
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <h5>Telfono {{i +1}} </h5>
                                </div>
                                <div class="col-4 py-2">
                                    <button type="button" class="btn btn-danger float-right " (click)="EliminarDir(i)" *ngIf="ControlTelefonos.controls.length > 1">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-12">
                                <select class="form-control" formControlName="type">
                                    <option value="" disabled selected>Seleccione un tipo</option>
                                    <option value="cel">Celular</option>
                                    <option value="home">Hogar</option>
                                    <option value="work">Trabajo</option>
                                    <option value="others">Otro</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <input type="text" class="form-control" placeholder="Número de telefono" formControlName="phone">
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                </div>
                <button class="btn btn-outline-primary" (click)="AgregarDir()">Añadir Télefono</button>
                <button *ngIf="updateForm.get('diary').value?.length > 1" class="btn btn-outline-danger" (click)="EliminarUltimo()">Eliminar ultimo</button>
              </div>
    
              <button type="submit" class="btn btn-primary btn-lg btn-block">Modificar datos</button>
            </form>
          </perfect-scrollbar>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <button type="button" (click)="updateActivate = !updateActivate" class="btn btn-outline-primary mx-2"><i class="far fa-edit"></i> Actualizar</button>
          <button type="button" (click)="eliminar()" class="btn btn-outline-danger mx-1"><i class="fas fa-trash-alt"></i> Eliminar</button>
        </div>
      </div>
      
  </ng-container>
  <ng-template #noSeleccionado>
    <h1 class="text-muted text-center mt-6"> Seleccione un registro</h1>
  </ng-template>
</ng-template>



