<div class="card custombody">
    <div class="card-body ">
      <div class="container-fluid">

        <div class="row">
          <div class="col-5">
            <ngx-skeleton-loader
                animation="pulse"
                count="1"
                appearance="circle"
                [theme]="{
                  width: '100%',
                  height: '256px',
                  'border-radius': '10px',
                  'background-color': '#638CF6'
                }"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-7 mt-3">
              <ngx-skeleton-loader
                animation="false"
                count="7"
                [theme]="{
                  width: '100%',
                  'border-radius': '10px',
                  height: '15px',
                  'margin-bottom': '10px',
                  'background-color': '#638CF6'
                }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                count="1"
                animation="false"
                [theme]="{
                  width: '80%',
                  'border-radius': '10px',
                  height: '15px',
                  'margin-bottom': '10px',
                  'background-color': '#638CF6'
                }"
              ></ngx-skeleton-loader>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <ngx-skeleton-loader
                count="1"
                animation="false"
                [theme]="{
                  width: '65%',
                  'border-radius': '10px',
                  height: '15px',
                  'margin-bottom': '10px',
                  'background-color': '#638CF6'
                }"
              ></ngx-skeleton-loader>

              <ngx-skeleton-loader
                count="1"
                animation="false"
                [theme]="{
                  width: '65%',
                  'border-radius': '10px',
                  height: '15px',
                  'margin-bottom': '10px',
                  'background-color': '#638CF6'
                }"
              ></ngx-skeleton-loader>

              <ngx-skeleton-loader
                count="1"
                animation="false"
                [theme]="{
                  width: '60%',
                  'border-radius': '10px',
                  height: '15px',
                  'margin-bottom': '10px',
                  'background-color': '#638CF6'
                }"
              ></ngx-skeleton-loader>
          </div>
        </div>
        
      </div>
    </div>
  </div> 
