<nav id="Header" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand px-3 pb-2 mr-4" href="#">Negozia</a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a id="menu" class="nav-link active" (click)="toggleSideBar()"><i class="fas fa-bars fa-lg"></i></a>
    </li>
  </ul>
</nav>