
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/* CONFIGURACION DE LINKS SIN ESTILO*/
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* FIX DE LINK QUE SON REFERENCIADOS A DROPDOWNS */
a[data-toggle="collapse"] {
    position: relative;
}

/* TRANSICION DE DESPLIEGE DE DROPDOWN */
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ESTILO PRINCIPAL SIDEBAR */
#sidebar {
    background-color: #1f4068;
    color: white;
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

/* Titulo cabeza sidebar*/
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

/* TITULO DE LISTA */
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

/*FORMATE DE LINKS EN LISTA*/
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* EFECTO DE SOBRE CADA LINK */
#sidebar ul li a:hover {
    color: #FFF;
    background: #6d7fcc;
    border-radius: 10px 0px 0px 10px;
}

/* ESTILO DE LINK SELECCIONADO */
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #1f4068;
    background: #F7F9FF;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

/* PANEL DE DROPDOWN LINKS DENTRO DEL MENU PRINCIPAL */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1f4068;
}