<nav  id="sidebar" [ngClass]="{'active': SidebarState$ | async}" >
  <div class="sidebar-header">
    <h3 class="text-center">{{(Menu$ | async).nombreModulo}}</h3>
  </div>
  <ul class="list-unstyled components">
    <p class="font-weight-bold">Opciones</p>
    <!-- OPCIONES DE MENU -->
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let opcion of (Menu$ | async).opciones; let i = index">
      <ng-container *ngIf="opcion.url !== ''; else submenu">
        <a class="ml-2" [routerLink]="opcion.url"><i [class]="opcion.icono"></i>  {{opcion.titulo}}</a>
      </ng-container>
      <ng-template #submenu>
        <a href="#Submenu{{i}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{opcion.titulo}}</a>
        <ul class="collapse list-unstyled" id="Submenu{{i}}">
            <li *ngFor="let submenu of opcion.submenu">
                <a [routerLink]="submenu.url">{{submenu.titulo}}</a>
            </li>
        </ul>
      </ng-template>
    </li>

  </ul>
</nav>