
<ng-container *ngIf="loading$ | async; else Carga">
  
    <div class="item">
      <ngx-skeleton-loader animation="pulse" count="3"></ngx-skeleton-loader>
    </div>
  
  </ng-container>
  <ng-template #Carga>
    <ng-container *ngIf="(contacts$ | async).length > 0; else SinRegistros">
      <div class="container-fluid my-2">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <app-card-contact [itemContacts]="contacts$ | async"></app-card-contact>
          </div>
          <div class="col-lg-8 col-md-6">
            <app-contact-detail></app-contact-detail>
          </div>
        </div>
      </div>

      <a routerLink="/Home/ContactoNuevo" class="float">
        <i class="fas fa-user-plus my-float"></i>
      </a>
    </ng-container>
    <ng-template #SinRegistros>
      <h1 class="text-muted"> No hay registros</h1>
    </ng-template>
    
  
  </ng-template>