<div>
    <!--BARRA DE BUSQUEDA-->
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Username" aria-describedby="basic-addon1" (input)="Buscar($event)">
      
    </div>
    <hr>
    <p class="text-center">Número de contactos: {{itemContacts.length}}</p>
    <!--LISTADO DE COMERCIOS-->
    
    <div id="Listado">
      <perfect-scrollbar class="px-2" style="max-width: 100%; max-height: 72vh; height: 72vh !important;">
      <div class="list-group">
          <a #card (click)="setContact(item.id, card)" class="customItem list-group-item list-group-item-action flex-column align-items-start mb-2"  *ngFor="let item of itemContacts">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{item.fullname}}</h5>
            </div>
            <small>{{item.email}}</small>
          </a>
      </div>
    </perfect-scrollbar>
    </div>
    
  
  </div>
