@import '../../../assets/theme/colors.scss';

input {
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    border: 1px solid #1212;

    &:focus {
        background-color: #fff;
        color: #000;
    }

    &::placeholder {
        color: #000;
    }
}

.customItem {
    
    border-radius: 15px;

    &:hover {
        background-color: $select-item;
        color: white;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
        small {
            color: white;
        }
    }
}

.activate {
    background-color: $select-item;
    color: white;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.49;
    }
    50% {
        opacity: 0.56;
    }
	100% {
		opacity: 1;
	}
}